.page-sidebar .page-sidebar-menu > li > a > .badge {
  top: 10px;
}
.page-sidebar .page-sidebar-menu i.fa {
  vertical-align: -4%;
}
.page-sidebar .page-sidebar-menu i.mdi {
  vertical-align: -3px;
  margin-right: 3px;
  margin-left: 2px;
}
.portlet-title .actions + .tools {
  margin-left: 5px;
}

.page-header.navbar .hor-menu .navbar-nav>li .dropdown-menu li>a .badge, .page-header.navbar .hor-menu .navbar-nav>li .dropdown-menu li>a .label {
  margin-right: 10px;
}


/* datatables */
table.dataTable thead .sorting {
  background: url("../img/sort_both.png") no-repeat center right; }

table.dataTable thead .sorting_asc {
  background: url("../img/sort_asc.png") no-repeat center right; }

table.dataTable thead .sorting_desc {
  background: url("../img/sort_desc.png") no-repeat center right; }

table.dataTable thead .sorting_asc_disabled {
  background: url("../img/sort_asc_disabled.png") no-repeat center right; }

table.dataTable thead .sorting_desc_disabled {
  background: url("../img/sort_desc_disabled.png") no-repeat center right; }

table.dataTable th:active {
  outline: none; }

.daterangepicker .ranges {
  width: auto;
}
